* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* position: relative; */
  min-height: 100vh;
}
.w-50px {
  width: 40px;
}
.hpx-200 {
  height: 350px;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    height: 100px;
  }
  .hpx-300 {
    min-height: 300px;
  }
}

footer,
nav {
  background-color: #f1f1f1;
}

@keyframes test {
  0% {
    opacity: 0%;
    display: inline-block;
  }
  30% {
    opacity: 100%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    display: none;
    opacity: 0%;
  }
}
.test-animation {
  cursor: auto;
  animation: test 3s;
  animation-fill-mode: forwards;
}
